GOOGLE_API_KEY=AIzaSyAsWYNN6sI4f6vEKXbBgyqKbu3qh44BBzU
TAVILY_API_KEY=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
NVIDIA_API_KEY=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

